*{
    margin:0;
    padding:0;
}

html{
    overflow-y: hidden; height:100%;
}

p{
    font-weight:bold;
}

body{
    width:100%;
}

#container{
    height:100%;
    overflow:100%;
}

#canvas{
    width:100%;
}